# Environment Variables
# Copy this file to .env and update the values

# Application
APP_NAME=Backend API
APP_VERSION=0.1.0

# Database
# MONGODB_URL=mongodb://localhost:27017
# MONGODB_DB_NAME=backend_db
MONGODB_URL=mongodb+srv://antthanchanok25488_db_user:QXp4FvEsIc05gPi9@vetnurse-cluster.jdub2rj.mongodb.net
MONGODB_DB_NAME=vetnurse_db

# Line Authentication\
CHANNEL_ID=2008737789
KEY_ID=e7992ac0-d1b6-45a2-bb19-89c9fcb9c2bb
LOGIN_CLIENT_ID=2008737889
LOGIN_CLIENT_SECRET=87934c9218d9e43e954f79437aca09a2
REDIRECT_URI=https://bdb682332f94.ngrok-free.app/auth/callback


